[submodule "_site/pleroma-access-token"]
	path = _site/pleroma-access-token
	url = https://github.com/prplecake/pleroma-access-token
	branch = master
[submodule "submodules/robots.txt"]
	path = submodules/robots.txt
	url = https://github.com/prplecake/robots.txt
[submodule "submodules/pleroma-access-token"]
	path = submodules/pleroma-access-token
	url = https://github.com/prplecake/pleroma-access-token
